body {
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
  font-family: 'Fira Sans';
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #dbdee3 none repeat scroll 0 0;
}
nav ul li {
  cursor: pointer;
}
section {
  position: fixed;
  top: 0;
  bottom: 100%;
  z-index: 1;
  padding-top: 3rem;
  height: calc(100% - 3rem);
  overflow-y: auto;
  width: 80%;
  left: 20%;
}
section[disabled='true'] {
  left: 300%;
}
